.form-box {
  width: 400px;
  padding: 20px;
  border: 2px solid #00acc1;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #00acc1;
  color: #fff;
  background-color: #000;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00acc1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00454d;
}
.heading-container {
  align-self: center;
  line-height: 10px;
}
.heading-container p {
  font-size: 12px;
  text-align: center;
}

.heading-container p,
h4 {
  color: #fff;
}
.line-through {
  text-decoration: line-through;
  text-decoration-color: red;
}
.free-color{
    color: #00acc1;
}